
/* 페이지 전체 배경색 */
body {
    background-color: #F5F6F7;

}


/* 로고 */
.logo {
    display: flex;
    justify-content: center;
}

/* 이미지 */
img {
    width: 250px;
    height: 50px;
}

.logo a {
    margin-top: 70px;
    margin-bottom: 50px;
}



/* 로그인 텍스트박스 div */
.text_box {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

/* 로그인 텍스트박스 */
.text_box input {
    width: 500px;
    height: 50px;
    border: 1.5px solid #D0D2D3;
    padding-left: 15px;
}



/* 로그인 버튼 */
#login_btn {
    margin-top: 10px;
    width: 509px;
    height: 50px;
    background-color: #03CF5D;
    border: none;
    color: white;
}